langchain==0.1.30
langchain-core==0.1.21
langchain-community==0.0.20
langchain-huggingface==0.3.1
langchain-groq==0.0.1
streamlit==1.29.0
faiss-cpu==1.7.4
sentence-transformers==2.2.2
python-dotenv==1.0.0
pypdf==3.17.4
huggingface-hub==0.19.4
transformers==4.36.2
torch==2.1.2
numpy==1.24.3
pandas==2.1.4
